<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

<style>
	body { font-family: Source Sans Pro; }
	main h1 { margin-bottom:25px; }
	ul li { margin:8px 0; text-indent:10px; }
	ul li span { left:-10px; }
	.navbar-brand { padding:23px 15px; }
	table { margin-bottom:25px; }
	table tr td { padding:3px 8px; }
	table tr td .bold { font-weight:bold; }
</style>